<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <!-- <script src="loginapp.js"></script> -->
<body>
	
	<body>
        <div id="principal">
           <h3>GALERÍA CSS</h3>
           <div class="contenedorfoto"><a href="#"><img src="img/1.jpg" border="0" alt=""/></a><br /><span>Descripción de la imagen</span></div>
           <div class="contenedorfoto"><a href="#"><img src="img/2.jpg" border="0" alt=""/></a><br /><span>Descripción de la imagen</span></div>
           <div class="contenedorfoto"><a href="#"><img src="img/3.jpg" border="0" alt=""/></a><br /><span>Descripción de la imagen</span></div>
           <div class="contenedorfoto"><a href="#"><img src="img/4.jpg" border="0" alt=""/></a><br /><span>Descripción de la imagen</span></div>
           <div class="contenedorfoto"><a href="#"><img src="img/5.jpg" border="0" alt=""/></a><br /><span>Descripción de la imagen extrañamente larga</span></div>
        </div>
        </body>
</body>
</html>