<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <nav>
        <h1>Menu</h1>
        <ul>
          {% if g.user %}
            <li><a class="action" href="{{ url_for('upload_file') }}">Subir imágenes</a>
            <li><a class="action" href="{{ url_for('descargar') }}">Descargar imagenes</a>
            <li><a class="action" href="{{ url_for('eliminar') }}">Eliminar imagenes</a>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a>
          {% else %}
            <li><a href="{{ url_for('registro') }}">Registrarse</a>
            <li><a href="{{ url_for('login') }}">Iniciar Sesión</a>
          {% endif %}
          
        </ul>
      </nav>
</head>


<body>
    <div class="galeria">
        <h1>Galeria</h1>
        <div class="linea"></div>
        <div class="contenedor-imagenes">

     
           
            {% if employees %}
            {% for employee in employees: %}
            <p>{{ employee.name }}</p>
            <img src="static/images/{{ employee.profile_image | default('profile.jpg') }}" alt={{ employee.name }} />
            {% endfor %}
            {% endif %}
        
            <div class="imagen">
                <img src="img/1 (2).jpg" alt="">
            </div> 
        </div>
    </div>
</body>

</html>