<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>galeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosp.css') }}">
    <nav>
        <h1>Menu</h1>
        <ul>
          {% if g.user %}
          <li><a class="action" href="{{ url_for('upload_file') }}">Subir imágenes</a>
            <li><a class="action" href="{{ url_for('descargar') }}">Descargar imagenes</a>
            <li><a class="action" href="{{ url_for('eliminar') }}">Eliminar imagenes</a>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a>
          {% else %}
                <li><a class="action" href="{{ url_for('upload_file') }}">Subir imágenes</a>
                <li><a class="action" href="{{ url_for('descargar') }}">Descargar imagenes</a>
                <li><a class="action" href="{{ url_for('eliminar') }}">Eliminar imagenes</a>
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a>
          {% endif %}
          
        </ul>
      </nav>
</head>


<body>
    <div class="galeria">
        <h1>Galeria</h1>
        <div class="linea"></div>
        <div class="contenedor-imagenes">


                      

            <div class="imagen">
                <img src="./images/1.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="../images/2.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/3.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/4.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/5.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/6.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/7.jpg" alt="">
            </div>

            <div class="imagen">
                <img src="./images/8.jpg" alt="">
            </div>
            
            <!-- <div class="imagen">
                <img src="img/1 (2).jpg" alt="">
            </div> -->
        </div>
    </div>
</body>

</html>