{% extends "inicio.html" %}
{% block body %}

    <form action="" method="POST" id="form">  <!--novalidate-->
      <div class="form"></div>
        <h1>Nueva Contraseña</h1>   
        <img src="{{ url_for('static', filename='images/Vector_Persona.JPG') }}" alt="login" style="vertical-align:middle;margin:0px 50px">
      
          {{ form.hidden_tag() }}
          <p>
            {{ form.codigo.label }}
            {{ form.codigo(size=5) }}
          </p>
          <p>
            {{ form.email.label }}
            {{ form.email(size=30) }}
          </p>
          <p>
            {{ form.password.label }}
            {{ form.password(size=30) }}
          </p>
          
          {{ form.enviar() }}
          </p>

        <a href="/" style="text-align: center; display: inline-block; width: 100%; "> Inicia sesión! </a>
        <p class="warnings" id="warnings" ></p>
      </div>  

</form>

  {% endblock %}

 